APP__TITLE="WiFi Transmitter"
APP__DESCRIPTION="Application for sharing files over a local network"
APP__VERSION=0.1.0
APP__DEBUG=False

UVICORN__HOST=127.0.0.1
UVICORN__PORT=8000
UVICORN__LOG_LEVEL=info
UVICORN__RELOAD=False

TRANSMITTER__STORAGE_DIR=.data/files
TRANSMITTER__DATABASE_URL=sqlite+aiosqlite:///./.data/files.db

DESKTOP__LANGUAGE=en
DESKTOP__AUTO_START=False
DESKTOP__OPEN_BROWSER=True
