APP__TITLE=
APP__DESCRIPTION=
APP__VERSION=
APP__DEBUG=

UVICORN__HOST=
UVICORN__PORT=
UVICORN__LOG_LEVEL=
UVICORN__RELOAD=

TRANSMITTER__STORAGE_DIR=
TRANSMITTER__DATABASE_URL=

DESKTOP__LANGUAGE=en
DESKTOP__AUTO_START=False
DESKTOP__OPEN_BROWSER=True
